# Modified from https://github.com/libgdx/libgdx/blob/master/.github/workflows/build-publish.yml

name: Build and Publish

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    tags:
      - '*'
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
      - '**/*.org'
    branches:
      - main

permissions:
  checks: write
  pull-requests: write
  deployments: write
  contents: write

jobs:
  elisp-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Basic setup
        uses: ./.github/workflows/composite/setup-basic

      # Linting
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: 3.12
          cache: true
          cache-dependency-path: |
            ./elisp/scripts/emacs-extractor/pdm.lock
      - name: Set up emacs-extractor
        run: |
          cd elisp/scripts/emacs-extractor
          pdm install
      - name: Syntax Check (emacs-extractor)
        run: |
          ./gradlew :elisp:emacsGen
          git restore . # emacs-extractor might be different on different machines
      - name: Syntax Check (pmd)
        run: |
          ./gradlew :elisp:pmdMain

      # Unit tests
      - name: Unit Tests
        run: |
          emacs --batch -L elisp/scripts/emacs-extractor -l el-semi-fuzz
          ./gradlew -Pcoverage :commons:mule-utils:test || true
          ./gradlew -Pcoverage :commons:piece-tree:test || true
          ./gradlew -Pcoverage :commons:pmd-no-int:test || true
          ./gradlew -Pcoverage :elisp:test              || true
          ./gradlew -Pcoverage jacocoTestReport
      - name: Publish Code Coverage
        uses: codecov/codecov-action@v5
        if: (!cancelled())
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Publish Test Results
        uses: codecov/test-results-action@v1
        if: (!cancelled())
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  elisp-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Basic setup
        uses: ./.github/workflows/composite/setup-basic

      - name: Native Image Generation
        run: |
          ./gradlew :app:nativeCompile
      - name: Test Native Image
        run: |
          cd app
          build/native/nativeCompile/elisp-repl --dump=pdump
          echo "(byte-compile '(lambda () 42))" | build/native/nativeCompile/elisp-repl --dump-file=./emacs.pdmp

      - name: Build Shadow Jar
        run: |
          ./gradlew :app:shadowJar
      - name: Upload Shadow Jar
        uses: actions/upload-artifact@v5
        with:
          name: repl
          path: |
            app/build/libs/app-all.jar
            app/build/native/nativeCompile/elisp-repl
            app/emacs.pdmp
          retention-days: 30

  elisp-benchmarks:
    runs-on: ubuntu-latest
    needs: [elisp-build]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'recursive'
      - name: Basic setup
        uses: ./.github/workflows/composite/setup-basic


      - name: Install elisp-benchmarks
        run: |
          emacs --batch --eval "(progn (package-initialize) (use-package elisp-benchmarks :ensure))"
      - name: Download pdump
        uses: actions/download-artifact@v4
        with:
          name: repl
      - name: Run Benchmarks
        run: |
          ./gradlew :elisp:elispBenchmarks
      - name: Prepare Benchmark Data
        run: |
          cd elisp
          jq -s add build/reports/elisp/benchmarks-*.json > build/reports/elisp/benchmarks.json
      - name: Store Benchmark Results
        uses: benchmark-action/github-action-benchmark@v1
        if: github.event_name != 'pull_request'
        with:
          name: Juicemacs elisp-benchmarks results
          tool: 'customSmallerIsBetter'
          output-file-path: elisp/build/reports/elisp/benchmarks.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
