# Modified from https://github.com/libgdx/libgdx/blob/master/.github/workflows/build-publish.yml

name: Build and Publish

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    tags:
      - '*'
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
      - '**/*.org'
    branches:
      - main

permissions:
  checks: write
  pull-requests: write
  deployments: write
  contents: write

jobs:
  elisp-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'graalvm'
          java-version: '25'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: 3.12
          cache: true
          cache-dependency-path: |
            ./elisp/scripts/emacs-extractor/pdm.lock
      - name: Set up Emacs
        uses: purcell/setup-emacs@master
        with:
          version: 30.1
      - name: Set up emacs-extractor
        run: |
          cd elisp/scripts/emacs-extractor
          pdm install

      - name: Install Dependencies
        run: |
          echo "GNU_EMACS_COMMIT=$(cd elisp/emacs && git rev-parse HEAD)" >> $GITHUB_ENV
          # Please please do not install Firefox during CI.
          sudo apt autoremove --purge snapd firefox || true
          sudo apt-mark hold snapd
          # Emacs dependencies
          sudo apt-get update && sudo apt-get upgrade
          sudo apt-get install libgnutls28-dev
          # Emacs packages
          emacs --batch --eval "(progn (package-initialize) (use-package elisp-benchmarks :ensure))"
          emacs --batch -L elisp/scripts/emacs-extractor -l el-semi-fuzz
      - name: Restore GNU Emacs Build Cache
        id: cache-emacs-restore
        uses: actions/cache/restore@v4
        with:
          path: elisp/emacs
          key: ${{ env.GNU_EMACS_COMMIT }}-gnu-emacs
      - name: Build GNU Emacs
        if: steps.cache-emacs-restore.outputs.cache-hit != 'true'
        run: |
          cd elisp/emacs
          make
      - name: Cache GNU Emacs Build
        uses: actions/cache/save@v4
        if: steps.cache-emacs-restore.outputs.cache-hit != 'true'
        with:
          path: elisp/emacs
          key: ${{ steps.cache-emacs-restore.outputs.cache-primary-key }}

      - name: Syntax Check (emacs-extractor)
        run: |
          ./gradlew :elisp:emacsGen
      - name: Syntax Check (pmd)
        run: |
          ./gradlew :elisp:pmdMain

      - name: Juicemacs Bootstrapping
        run: |
          ./gradlew compileJava compileTestJava
          sh -c "cd app && $(./gradlew -q :app:jvmCmd) --dump=pdump"
      - name: Unit Tests
        run: |
          ./gradlew cleanTest
          ./gradlew --info --stacktrace :commons:mule-utils:test   || true
          ./gradlew --info --stacktrace :commons:piece-tree:test   || true
          ./gradlew --info --stacktrace :commons:pmd-no-int:test   || true
          ./gradlew --info --stacktrace :elisp:test                || true
      - name: Publish Test Results
        uses: codecov/test-results-action@v1
        if: (!cancelled())
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Native Image Generation
        run: |
          ./gradlew :app:nativeCompile || true
      - name: Test Native Image
        run: |
          cd app
          build/native/nativeCompile/elisp-repl --dump=pdump
          echo "(byte-compile '(lambda () 42))" | build/native/nativeCompile/elisp-repl --dump-file=./emacs.pdmp

      - name: Build Shadow Jar
        run: |
          ./gradlew :app:shadowJar
      - name: Upload Shadow Jar
        uses: actions/upload-artifact@v4
        with:
          name: repl
          path: |
            app/build/libs/app-all.jar
            app/build/native/nativeCompile/elisp-repl
          retention-days: 30

      - name: Prepare Benchmark Data
        run: |
          cd elisp
          jq -s add build/reports/elisp/benchmarks-*.json > build/reports/elisp/benchmarks.json
          git stash push # ELispGlobals.java might be different on different machines
      - name: Store Benchmark Results
        uses: benchmark-action/github-action-benchmark@v1
        if: github.event_name != 'pull_request'
        with:
          name: Juicemacs elisp-benchmarks results
          tool: 'customSmallerIsBetter'
          output-file-path: elisp/build/reports/elisp/benchmarks.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true

      - name: Code Coverage
        run: |
          ./gradlew --info --stacktrace -Pcoverage :commons:mule-utils:test || true
          ./gradlew --info --stacktrace -Pcoverage :commons:piece-tree:test || true
          ./gradlew --info --stacktrace -Pcoverage :commons:pmd-no-int:test || true
          ./gradlew --info --stacktrace -Pcoverage :elisp:test || true
          ./gradlew -Pcoverage jacocoTestReport
      - name: Publish Code Coverage
        uses: codecov/codecov-action@v5
        if: (!cancelled())
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
