name: Build and Publish

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    tags:
      - '*'
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
      - '**/*.org'
    branches:
      - main

jobs:
  elisp-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Basic setup
        uses: ./.github/workflows/composite/setup-basic

      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: 3.12
          cache: true
          cache-dependency-path: |
            ./elisp/scripts/emacs-extractor/pdm.lock
      - name: Set up emacs-extractor
        run: |
          cd elisp/scripts/emacs-extractor
          pdm install
      - name: Syntax Check (pmd)
        run: |
          ./gradlew :elisp:pmdMain
      - name: Syntax Check (emacs-extractor)
        run: |
          ./gradlew :elisp:emacsGen

  elisp-test:
    permissions:
      checks: write # EnricoMi/publish-unit-test-result-action
      contents: write # peaceiris/actions-gh-pages for allure reports
      pull-requests: write # allure-framework/allure-action
    runs-on: ubuntu-latest
    needs: [elisp-lint]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Basic setup
        uses: ./.github/workflows/composite/setup-basic

      - name: Unit Tests
        run: |
          emacs --batch -L elisp/scripts/emacs-extractor -l el-semi-fuzz
          ./gradlew -Pcoverage :commons:mule-utils:test || true
          ./gradlew -Pcoverage :commons:piece-tree:test || true
          ./gradlew -Pcoverage :commons:pmd-no-int:test || true
          ./gradlew -Pcoverage :elisp:test              || true
          ./gradlew -Pcoverage jacocoTestReport

      - name: Report Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: ${{ (!cancelled()) && (github.event_name != 'pull_request') }}
        with:
          files: '**/build/test-results/**/*.xml'
          fail_on: nothing
      - name: Publish Code Coverage
        uses: codecov/codecov-action@v5
        if: ${{ !cancelled() }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          report_type: coverage
      - name: Publish Test Results
        uses: codecov/codecov-action@v5
        if: ${{ !cancelled() }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          report_type: test_results

      - name: Load Allure History
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages
      - name: Build Allure Report
        run: |
          mkdir -p .allure
          cp gh-pages/dev/tests/history.jsonl .allure/ || true

          mkdir -p allure-results-aggregate
          find . -path '*/allure-results/*' -type f -exec cp {} allure-results-aggregate/ \;
          cp elisp/build/allure-results/executor.json allure-results-aggregate/
          npm install -g allure@3.0.0-beta.22
          npx allure generate ./allure-results-aggregate/

          rm -rf gh-pages/dev/tests
          mv allure-report gh-pages/dev/tests
          mv .allure/history.jsonl gh-pages/dev/tests/
      - name: Post Allure Report Comment
        uses: allure-framework/allure-action@v0.2.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          report-directory: ./gh-pages/dev/tests/
      - name: Publish Allure Report
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.event_name != 'pull_request' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: gh-pages
          force_orphan: true

  elisp-build:
    runs-on: ubuntu-latest
    needs: [elisp-lint]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Basic setup
        uses: ./.github/workflows/composite/setup-basic

      - name: Native Image Generation
        run: |
          ./gradlew :app:nativeCompile
      - name: Test Native Image
        run: |
          cd app
          build/native/nativeCompile/elisp-repl --dump=pdump
          echo "(byte-compile '(lambda () 42))" | build/native/nativeCompile/elisp-repl --dump-file=./emacs.pdmp

      - name: Build Shadow Jar
        run: |
          ./gradlew :app:shadowJar
      - name: Upload Shadow Jar
        uses: actions/upload-artifact@v5
        with:
          name: repl
          path: |
            app/build/libs/app-all.jar
            app/build/native/nativeCompile/elisp-repl
            app/emacs.pdmp
          retention-days: 7

  elisp-benchmarks:
    permissions:
      # benchmark-action/github-action-benchmark
      contents: write
      deployments: write
    runs-on: ubuntu-latest
    needs: [elisp-build]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'recursive'
      - name: Basic setup
        uses: ./.github/workflows/composite/setup-basic

      - name: Install elisp-benchmarks
        run: |
          emacs --batch --eval "(progn (package-initialize) (use-package elisp-benchmarks :ensure))"
      - name: Download pdump
        uses: actions/download-artifact@v4
        with:
          name: repl
      - name: Run Benchmarks
        run: |
          ./gradlew :elisp:elispBenchmarks
      - name: Prepare Benchmark Data
        run: |
          cd elisp
          jq -s add build/reports/elisp/benchmarks-*.json > build/reports/elisp/benchmarks.json
      - name: Store Benchmark Results
        uses: benchmark-action/github-action-benchmark@v1
        if: ${{ github.event_name != 'pull_request' }}
        with:
          name: Juicemacs elisp-benchmarks results
          tool: 'customSmallerIsBetter'
          output-file-path: elisp/build/reports/elisp/benchmarks.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
